In [ ]:
import pandas as pd

In [ ]:
encounters = pd.read_csv('data/encounters.csv')

In [28]:
len(encounters)
print(encounters.columns)
for col in encounters.columns:
    null_pct = encounters[col].isnull().mean() * 100
    print(f"{col}: {null_pct:.2f}% null")

Index(['Id', 'START', 'STOP', 'PATIENT', 'ORGANIZATION', 'PROVIDER', 'PAYER',
       'ENCOUNTERCLASS', 'CODE', 'DESCRIPTION', 'BASE_ENCOUNTER_COST',
       'TOTAL_CLAIM_COST', 'PAYER_COVERAGE', 'REASONCODE',
       'REASONDESCRIPTION'],
      dtype='object')
Id: 0.00% null
START: 0.00% null
STOP: 0.00% null
PATIENT: 0.00% null
ORGANIZATION: 0.00% null
PROVIDER: 0.00% null
PAYER: 0.00% null
ENCOUNTERCLASS: 0.00% null
CODE: 0.00% null
DESCRIPTION: 0.00% null
BASE_ENCOUNTER_COST: 0.00% null
TOTAL_CLAIM_COST: 0.00% null
PAYER_COVERAGE: 0.00% null
REASONCODE: 74.04% null
REASONDESCRIPTION: 74.04% null

In [ ]:
unique_enc_patients = encounters["PATIENT"].unique()
print("Len unique enc patients: ", len(unique_enc_patients))

In [22]:
encounters.head()

,Id,START,STOP,PATIENT,ORGANIZATION,PROVIDER,PAYER,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION
0,748f8357-6cc7-551d-f31a-32fa2cf84126,2019-02-17T05:07:38Z,2019-02-17T05:22:38Z,b9c610cd-28a6-4636-ccb6-c7a0d2a4cb85,f7ae497d-8dc6-3721-9402-43b621a4e7d2,82608ebb-037c-3cef-9d34-3736d69b29e8,7c4411ce-02f1-39b5-b9ec-dfbea9ad3c1a,wellness,410620009,Well child visit (procedure),129.16,877.79,833.90,NaN,NaN
1,5a4735ae-423f-6563-28ab-b3d11b49b2d4,2019-03-24T05:07:38Z,2019-03-24T05:22:38Z,b9c610cd-28a6-4636-ccb6-c7a0d2a4cb85,f7ae497d-8dc6-3721-9402-43b621a4e7d2,82608ebb-037c-3cef-9d34-3736d69b29e8,7c4411ce-02f1-39b5-b9ec-dfbea9ad3c1a,wellness,410620009,Well child visit (procedure),129.16,269.68,256.20,NaN,NaN
2,0bee1ce6-3e2c-5506-f71c-a7ba8f64a3d3,2019-05-26T05:07:38Z,2019-05-26T05:22:38Z,b9c610cd-28a6-4636-ccb6-c7a0d2a4cb85,f7ae497d-8dc6-3721-9402-43b621a4e7d2,82608ebb-037c-3cef-9d34-3736d69b29e8,7c4411ce-02f1-39b5-b9ec-dfbea9ad3c1a,wellness,410620009,Well child visit (procedure),129.16,1292.75,1228.11,NaN,NaN
3,6e93bcf9-45a4-8528-0120-1c1eaa930faf,2019-07-28T05:07:38Z,2019-07-28T05:22:38Z,b9c610cd-28a6-4636-ccb6-c7a0d2a4cb85,f7ae497d-8dc6-3721-9402-43b621a4e7d2,82608ebb-037c-3cef-9d34-3736d69b29e8,7c4411ce-02f1-39b5-b9ec-dfbea9ad3c1a,wellness,410620009,Well child visit (procedure),129.16,1323.87,1257.68,NaN,NaN
4,8b6787c3-4316-a0cb-899d-4746525c319f,2019-10-27T05:07:38Z,2019-10-27T05:22:38Z,b9c610cd-28a6-4636-ccb6-c7a0d2a4cb85,f7ae497d-8dc6-3721-9402-43b621a4e7d2,82608ebb-037c-3cef-9d34-3736d69b29e8,7c4411ce-02f1-39b5-b9ec-dfbea9ad3c1a,wellness,410620009,Well child visit (procedure),129.16,831.76,790.17,NaN,NaN

In [24]:
counts = encounters.groupby("PATIENT")["Id"].count()

# Number of patients with <3 encounters
num_less_than_3 = (counts < 3).sum()

# Total patients
total_patients = len(counts)

print(f"Patients with <3 encounters: {num_less_than_3} / {total_patients}")

Patients with <3 encounters: 3 / 1163

In [ ]:
encounters["ENCOUNTERCLASS"].value_counts()

In [45]:
observations = pd.read_csv('data/raw/observations.csv')
print("Number of observations:", len(observations))
print(observations.columns)
observations.head()

Number of observations: 531144
Index(['DATE', 'PATIENT', 'ENCOUNTER', 'CATEGORY', 'CODE', 'DESCRIPTION',
       'VALUE', 'UNITS', 'TYPE'],
      dtype='object')

,DATE,PATIENT,ENCOUNTER,CATEGORY,CODE,DESCRIPTION,VALUE,UNITS,TYPE
0,2019-02-17T05:07:38Z,b9c610cd-28a6-4636-ccb6-c7a0d2a4cb85,748f8357-6cc7-551d-f31a-32fa2cf84126,vital-signs,8302-2,Body Height,51.4,cm,numeric
1,2019-02-17T05:07:38Z,b9c610cd-28a6-4636-ccb6-c7a0d2a4cb85,748f8357-6cc7-551d-f31a-32fa2cf84126,vital-signs,72514-3,Pain severity - 0-10 verbal numeric rating [Sc...,1.0,{score},numeric
2,2019-02-17T05:07:38Z,b9c610cd-28a6-4636-ccb6-c7a0d2a4cb85,748f8357-6cc7-551d-f31a-32fa2cf84126,vital-signs,29463-7,Body Weight,3.8,kg,numeric
3,2019-02-17T05:07:38Z,b9c610cd-28a6-4636-ccb6-c7a0d2a4cb85,748f8357-6cc7-551d-f31a-32fa2cf84126,vital-signs,77606-2,Weight-for-length Per age and sex,57.9,%,numeric
4,2019-02-17T05:07:38Z,b9c610cd-28a6-4636-ccb6-c7a0d2a4cb85,748f8357-6cc7-551d-f31a-32fa2cf84126,vital-signs,9843-4,Head Occipital-frontal circumference,34.8,cm,numeric

In [ ]:
print("Unique observation codes")
print(observations.DESCRIPTION.value_counts())

DESCRIPTION
Pain severity - 0-10 verbal numeric rating [Score] - Reported                  14537
Diastolic Blood Pressure                                                       14467
Systolic Blood Pressure                                                        14467
Body Weight                                                                    13275
Heart rate                                                                     13014
                                                                               ...
Lymph nodes with macrometastases [#] in Cancer specimen by Light microscopy        2
Tumor marker Cancer                                                                2
Lymph nodes with micrometastases [#] in Cancer specimen by Light microscopy        2
Thyroxine (T4) free [Mass/volume] in Serum or Plasma                               1
Thyrotropin [Units/volume] in Serum or Plasma                                      1
Name: count, Length: 247, dtype: int64

In [54]:
summary = (
    observations.groupby(["CODE", "DESCRIPTION"])
       .size()
       .reset_index(name="count")
       .sort_values("count", ascending=False)
)

print(summary.head(60))

        CODE                                        DESCRIPTION  count
171  72514-3  Pain severity - 0-10 verbal numeric rating [Sc...  14537
201   8462-4                           Diastolic Blood Pressure  14467
203   8480-6                            Systolic Blood Pressure  14467
67   29463-7                                        Body Weight  13275
215   8867-4                                         Heart rate  13014
228   9279-1                                   Respiratory rate  13014
199   8302-2                                        Body Height  12699
170  72166-2                        Tobacco smoking status NHIS  12666
92   39156-5                                    Body Mass Index  11571
255     QOLS                                               QOLS  10554
253     DALY                                               DALY  10554
254     QALY                                               QALY  10554
182  76501-6  In the past year  have you been afraid of your...   8886
156  67875-5               What is your current work situation?   8886
168  71802-3              What is your housing situation today?   8886
144  63512-8  How many family members  including yourself  d...   8886
108  56799-0                       What address do you live at?   8886
107  56051-6                        Are you Hispanic or Latino?   8886
104  54899-0   What language are you most comfortable speaking?   8886
81   32624-9                             Which race(s) are you?   8886
146  63586-2  During the past year  what was the total combi...   8886
181  76437-3                       What is your main insurance?   8886
232  93029-7  How often do you see or talk to people that yo...   8886
236  93034-7  Have you been discharged from the armed forces...   8886
231  93028-9  In the past year  have you spent more than 2 n...   8886
234  93031-3  In the past year  have you or any family membe...   8886
235  93033-9         Are you worried about losing your housing?   8886
230  93027-1                                 Are you a refugee?   8886
233  93030-5  Has lack of transportation kept you from medic...   8886
229  93026-3  Do you feel physically and emotionally safe wh...   8886
197  82589-3  What is the highest level of school that you h...   8886
237  93035-4  At any point in the past 2 years  has season o...   8886
238  93038-8  Stress is when someone feels tense  nervous  a...   8886
106  55758-7  Patient Health Questionnaire 2 item (PHQ-2) to...   6940
103  49765-1                                            Calcium   6435
45    2339-0                                            Glucose   6435
91   38483-4                                         Creatinine   6435
141   6298-4                                          Potassium   6435
142   6299-2                                      Urea Nitrogen   6435
68    2947-0                                             Sodium   6435
29    2069-3                                           Chloride   6435
26   20565-8                                     Carbon Dioxide   6435
12   18262-6                Low Density Lipoprotein Cholesterol   5398
33    2093-3                                  Total Cholesterol   5398
32    2085-9               High Density Lipoprotein Cholesterol   5398
53    2571-8                                      Triglycerides   5398
160  70274-6  Generalized anxiety disorder 7 item (GAD-7) to...   4954
99    4548-4           Hemoglobin A1c/Hemoglobin.total in Blood   4780
166    718-7                  Hemoglobin [Mass/volume] in Blood   3173
189    786-4              MCHC [Mass/volume] by Automated count   3162
187    777-3   Platelets [#/volume] in Blood by Automated count   3162
188    785-6              MCH [Entitic mass] by Automated count   3162
190    787-2            MCV [Entitic volume] by Automated count   3162
152   6690-2  Leukocytes [#/volume] in Blood by Automated count   3064
192    789-8  Erythrocytes [#/volume] in Blood by Automated ...   3064
98    4544-3  Hematocrit [Volume Fraction] of Blood by Autom...   3064
128  59576-9  Body mass index (BMI) [Percentile] Per age and...   2973
179  75626-2                              Total score [AUDIT-C]   2765
198  82667-7                              Total score [DAST-10]   2748
78   32207-3  Platelet distribution width [Entitic volume] i...   2682

In [60]:
observations[observations["DESCRIPTION"].str.contains("saturation", case=False)]

,DATE,PATIENT,ENCOUNTER,CATEGORY,CODE,DESCRIPTION,VALUE,UNITS,TYPE
1062,2021-07-04T08:26:20Z,faac724a-a9e9-be66-fe1e-3044dc0ba8ea,ad9af723-c8c8-5301-f52f-10d3f0465531,vital-signs,2708-6,Oxygen saturation in Arterial blood,82.3,%,numeric
4376,2020-11-13T20:57:33Z,1d3d0ba6-5475-07c2-0b40-562ad75fdf26,b0445856-3554-551a-0f4f-b4af10cfe4f9,vital-signs,2708-6,Oxygen saturation in Arterial blood,85.7,%,numeric
4866,2021-02-08T16:31:45Z,8fa5a097-1970-9370-4193-a7baa3d235b5,70290d7e-825c-0724-bf05-e91651558308,vital-signs,2708-6,Oxygen saturation in Arterial blood,76.5,%,numeric
4876,2021-02-08T17:37:23Z,8fa5a097-1970-9370-4193-a7baa3d235b5,b6358095-06f1-cc6a-ac12-3d46550a254a,vital-signs,2708-6,Oxygen saturation in Arterial blood,78.5,%,numeric
4926,2021-02-09T17:37:23Z,8fa5a097-1970-9370-4193-a7baa3d235b5,b6358095-06f1-cc6a-ac12-3d46550a254a,vital-signs,2708-6,Oxygen saturation in Arterial blood,88.7,%,numeric
...,...,...,...,...,...,...,...,...,...
521595,2021-04-18T10:21:38Z,236bc48b-5230-46f9-3725-a7b5274f4798,a8cbdcb9-b0c3-9477-145c-188d91e45a40,vital-signs,2708-6,Oxygen saturation in Arterial blood,83.7,%,numeric
521637,2021-04-18T10:21:38Z,236bc48b-5230-46f9-3725-a7b5274f4798,a8cbdcb9-b0c3-9477-145c-188d91e45a40,vital-signs,2708-6,Oxygen saturation in Arterial blood,85.6,%,numeric
521642,2021-04-19T10:21:38Z,236bc48b-5230-46f9-3725-a7b5274f4798,a8cbdcb9-b0c3-9477-145c-188d91e45a40,vital-signs,2708-6,Oxygen saturation in Arterial blood,82.5,%,numeric
521684,2021-04-19T10:21:38Z,236bc48b-5230-46f9-3725-a7b5274f4798,a8cbdcb9-b0c3-9477-145c-188d91e45a40,vital-signs,2708-6,Oxygen saturation in Arterial blood,78.7,%,numeric
530386,2020-12-29T07:04:22Z,d53c57a5-4480-2481-32ee-b2844a991c9d,b756d6aa-2226-ad5b-4609-30ce37b24ead,vital-signs,2708-6,Oxygen saturation in Arterial blood,76.3,%,numeric

In [49]:
unique_obs_codes = observations["CODE"].unique()
print("Len unique obs codes: ", len(unique_obs_codes))

Len unique obs codes:  234

In [ ]:
for col in observations.columns:
    null_pct = observations[col].isnull().mean() * 100
    print(f"{col}: {null_pct:.2f}% null")

### Conditions

In [ ]:
conditions = pd.read_csv('data/conditions.csv')
print("Number of rows in conditions:", len(conditions))
print(conditions.columns)

In [ ]:
for col in conditions.columns:
    null_pct = conditions[col].isnull().mean() * 100
    print(f"{col}: {null_pct:.2f}% null")

In [ ]:
conditions.head()

In [ ]:
unique_cond_codes = conditions["CODE"].unique()
print("Len unique codes: ", len(unique_cond_codes))

In [ ]:
from typing import Optional
import re

def clean_fragment(value: Optional[object]) -> Optional[str]:
    if value is None or (isinstance(value, float) and np.isnan(value)):
        return None
    text = str(value).strip()
    if not text:
        return None
    text = re.sub(r"[^A-Za-z0-9]+", "_", text.upper())
    text = text.strip("_")
    return text or None

In [ ]:
unique_cond_codes = set(clean_fragment(c) for c in conditions["CODE"] if not pd.isna(c))
print("Unique condition codes in raw conditions.csv:", len(unique_cond_codes))

## Patients

In [61]:
pateints = pd.read_csv('data/raw/patients.csv')

In [62]:
print("Number of patients:", len(pateints))
print(pateints.columns)
print(pateints.iloc[:10, 5:15])

Number of patients: 1163
Index(['Id', 'BIRTHDATE', 'DEATHDATE', 'SSN', 'DRIVERS', 'PASSPORT', 'PREFIX',
       'FIRST', 'LAST', 'SUFFIX', 'MAIDEN', 'MARITAL', 'RACE', 'ETHNICITY',
       'GENDER', 'BIRTHPLACE', 'ADDRESS', 'CITY', 'STATE', 'COUNTY', 'ZIP',
       'LAT', 'LON', 'HEALTHCARE_EXPENSES', 'HEALTHCARE_COVERAGE'],
      dtype='object')
     PASSPORT PREFIX       FIRST            LAST SUFFIX    MAIDEN MARITAL  \
0         NaN    NaN    Damon455      Langosh790    NaN       NaN     NaN
1         NaN    NaN       Thi53       Wunsch504    NaN       NaN     NaN
2  X75063318X    Mr.      Chi716  Greenfelder433    NaN       NaN     NaN
3         NaN    Ms.  Phillis443       Walter473    NaN       NaN     NaN
4  X44132498X    Mr.  Jerrold404       Herzog843    NaN       NaN       M
5         NaN    NaN  Brandon214      Watsica258    NaN       NaN     NaN
6  X36202735X    Mr.  Rodrigo242       Arellano2    NaN       NaN       M
7  X72720258X    Mr.      Sal878        Hoppe518    NaN       NaN       M
8   X4451825X   Mrs.     Miki234        Kozey370    NaN  Morar593       M
9         NaN    NaN    Taylor21    Gulgowski816    NaN       NaN     NaN

    RACE    ETHNICITY GENDER
0  white  nonhispanic      M
1  white  nonhispanic      F
2  white  nonhispanic      M
3  white  nonhispanic      F
4  black  nonhispanic      M
5  white  nonhispanic      F
6  black     hispanic      M
7  white  nonhispanic      M
8  white  nonhispanic      F
9  white  nonhispanic      M

In [33]:
for col in pateints.columns:
    null_pct = pateints[col].isnull().mean() * 100
    print(f"{col}: {null_pct:.2f}% null")

Id: 0.00% null
BIRTHDATE: 0.00% null
DEATHDATE: 85.98% null
SSN: 0.00% null
DRIVERS: 18.49% null
PASSPORT: 23.73% null
PREFIX: 21.07% null
FIRST: 0.00% null
LAST: 0.00% null
SUFFIX: 98.62% null
MAIDEN: 71.54% null
MARITAL: 33.02% null
RACE: 0.00% null
ETHNICITY: 0.00% null
GENDER: 0.00% null
BIRTHPLACE: 0.00% null
ADDRESS: 0.00% null
CITY: 0.00% null
STATE: 0.00% null
COUNTY: 0.00% null
ZIP: 46.86% null
LAT: 0.00% null
LON: 0.00% null
HEALTHCARE_EXPENSES: 0.00% null
HEALTHCARE_COVERAGE: 0.00% null

## Medications

In [25]:
meds = pd.read_csv('data/raw/medications.csv')
print("Number of medications:", len(meds))
print(meds.columns)
meds.head()

unique_med_codes = meds["CODE"].unique()
print("Len unique med codes: ", len(unique_med_codes))

Number of medications: 56430
Index(['START', 'STOP', 'PATIENT', 'PAYER', 'ENCOUNTER', 'CODE', 'DESCRIPTION',
       'BASE_COST', 'PAYER_COVERAGE', 'DISPENSES', 'TOTALCOST', 'REASONCODE',
       'REASONDESCRIPTION'],
      dtype='object')
Len unique med codes:  170

In [26]:
meds.head()

,START,STOP,PATIENT,PAYER,ENCOUNTER,CODE,DESCRIPTION,BASE_COST,PAYER_COVERAGE,DISPENSES,TOTALCOST,REASONCODE,REASONDESCRIPTION
0,2020-02-17T10:40:32Z,NaN,b9c610cd-28a6-4636-ccb6-c7a0d2a4cb85,7c4411ce-02f1-39b5-b9ec-dfbea9ad3c1a,01efcc52-15d6-51e9-faa2-bee069fcbe44,1014676,cetirizine hydrochloride 5 MG Oral Tablet,21.45,0.0,21,450.45,NaN,NaN
1,2020-02-17T10:40:32Z,NaN,b9c610cd-28a6-4636-ccb6-c7a0d2a4cb85,7c4411ce-02f1-39b5-b9ec-dfbea9ad3c1a,01efcc52-15d6-51e9-faa2-bee069fcbe44,1870230,NDA020800 0.3 ML Epinephrine 1 MG/ML Auto-Inje...,231.58,0.0,21,4863.18,NaN,NaN
2,2013-06-24T06:39:19Z,2013-07-02T06:39:19Z,c1f1fcaa-82fd-d5b7-3544-c8f9708b06a8,42c4fca7-f8a9-3cd1-982a-dd9751bf3e2a,0b2794bd-ec2b-d34f-0610-2523b3b7fcf0,1043400,Acetaminophen 21.7 MG/ML / Dextromethorphan Hy...,7.59,0.0,1,7.59,10509002.0,Acute bronchitis (disorder)
3,2016-02-27T08:52:29Z,2016-03-14T08:52:29Z,c1f1fcaa-82fd-d5b7-3544-c8f9708b06a8,6e2f1a2d-27bd-3701-8d08-dae202c58632,a6d818dd-0983-fd1c-eefa-3d2295532c45,198405,Ibuprofen 100 MG Oral Tablet,12.48,0.0,1,12.48,NaN,NaN
4,2017-02-22T09:25:31Z,2017-06-02T09:25:31Z,c1f1fcaa-82fd-d5b7-3544-c8f9708b06a8,047f6ec3-6215-35eb-9608-f9dda363a44c,6474f606-5a1b-48c0-bbbf-ad6dcbc24d4e,313820,Acetaminophen 160 MG Chewable Tablet,4.77,0.0,3,14.31,NaN,NaN

In [27]:
for col in meds.columns:
    null_pct = meds[col].isnull().mean() * 100
    print(f"{col}: {null_pct:.2f}% null")

START: 0.00% null
STOP: 4.81% null
PATIENT: 0.00% null
PAYER: 0.00% null
ENCOUNTER: 0.00% null
CODE: 0.00% null
DESCRIPTION: 0.00% null
BASE_COST: 0.00% null
PAYER_COVERAGE: 0.00% null
DISPENSES: 0.00% null
TOTALCOST: 0.00% null
REASONCODE: 27.42% null
REASONDESCRIPTION: 27.42% null